<%= sidebar_turbo_frame_tag do %>
  <%= turbo_stream_from :rooms %>
  <%= turbo_stream_from Current.user, :rooms %>

  <div class="sidebar__container overflow-y overflow-hide-scrollbar"
      data-controller="badge-dot"
      data-badge-dot-unread-class="unread"
      data-action="rooms-list:unread@window->badge-dot#update rooms-list:read@window->badge-dot#update turbo:submit-start->turbo-frame#unpermanize">

    <div class="sidebar__workspace-header">
      <% if Current.account.logo.attached? %>
        <%= image_tag fresh_account_logo_path(size: :small), class: "sidebar__workspace-logo", aria: { hidden: "true" } %>
      <% end %>
      <h2 class="sidebar__workspace-name"><%= Current.account.name %></h2>
    </div>

    <div class="sidebar__section">
      <div class="sidebar__section-header">
        <h3 class="sidebar__section-title">Channels</h3>
        <% if Current.user.administrator? || !Current.account.settings.restrict_room_creation_to_administrators? %>
          <%= link_to new_rooms_open_path, class: "sidebar__section-action btn", aria: { label: "New Chat Room" } do %>
            <%= image_tag "add.svg", size: 16, aria: { hidden: "true" }, style: "view-transition-name: new-room" %>
          <% end %>
        <% end %>
      </div>

      <div class="rooms position-relative flex flex-column">
        <div id="shared_rooms" contents data-controller="sorted-list">
          <% @other_memberships.each do |membership| %>
            <%= render "users/sidebars/rooms/shared", room: membership.room, unread: membership.unread? %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="sidebar__section">
      <div class="sidebar__section-header">
        <h3 class="sidebar__section-title">Direct Messages</h3>
        <%= link_to new_rooms_direct_path, class: "sidebar__section-action btn", data: { turbo_frame: "_self" }, aria: { label: "New Direct Message" } do %>
          <%= image_tag "add.svg", size: 16, aria: { hidden: "true" } %>
        <% end %>
      </div>

      <turbo-frame id="direct_rooms_control" target="_top">
        <div class="directs">
          <div id="direct_rooms" contents data-controller="sorted-list" data-action="rooms-list:unread@window->sorted-list#updateItem">
            <%= render partial: "users/sidebars/rooms/direct", collection: @direct_memberships, as: :membership, cached: true %>
          </div>

          <div contents>
            <%= render partial: "users/sidebars/rooms/direct_placeholder", collection: @direct_placeholder_users, as: :user %>
          </div>
        </div>
      </turbo-frame>
    </div>

    <button class="btn sidebar__toggle" data-action="toggle-class#toggle">
      <%= image_tag "menu.svg", size: 20, aria: { hidden: "true" } %>
      <span class="for-screen-reader">Open menu</span>
    </button>
  </div>

  <div class="flex align-end sidebar__tools gap justify-end">
    <%= link_to user_profile_path, class: "btn avatar avatar--#{Current.user.availability} flex-item-no-shrink sidebar__tool", data: { user_id: Current.user.id } do %>
      <%= image_tag fresh_user_avatar_path(Current.user), size: 48, aria: { hidden: "true" }, style: "view-transition-name: avatar-#{Current.user.id}" %>
      <span class="for-screen-reader">My Settings</span>
    <% end %>

    <%= link_to edit_account_path, class: "btn align-center gap txt-reversed sidebar__tool" do %>
      <%= image_tag "settings.svg", size: 20, aria: { hidden: "true" }, style: "view-transition-name: account-settings" %>
      <span class="for-screen-reader">Account Settings</span>
    <% end %>
  </div>
<% end %>
