<div id="call_banner_<%= room.id %>" class="call-banner">
  <% if call&.active? %>
    <div class="call-banner__content"
         data-controller="call-banner"
         data-call-banner-calls-url-value="<%= room_calls_path(room) %>"
         data-call-banner-room-id-value="<%= room.id %>">
      <div class="call-banner__info">
        <%= image_tag "headphones.svg", size: 18, aria: { hidden: "true" }, class: "call-banner__icon" %>
        <span class="call-banner__label">
          A mingle is happening
          <span class="call-banner__live">LIVE</span>
        </span>
        <span class="call-banner__time"><%= local_datetime_tag call.started_at, style: :time %></span>
      </div>

      <div class="call-banner__participants">
        <% call.users.each do |user| %>
          <span class="avatar avatar--small call-banner__participant" title="<%= user.name %>">
            <%= image_tag fresh_user_avatar_path(user), size: 24, aria: { hidden: "true" } %>
          </span>
        <% end %>
        <span class="call-banner__count txt-small"><%= pluralize(call.active_participants.count, "person") %></span>
      </div>

      <button class="btn btn--small call-banner__leave"
              data-call-banner-target="leaveBtn"
              data-action="call-banner#leave"
              hidden>
        Leave
      </button>
      <button class="btn btn--reversed btn--small call-banner__join"
              data-call-banner-target="joinBtn"
              data-action="call-banner#join">
        Join
      </button>
    </div>
  <% elsif call&.ended? %>
    <div class="call-banner__content call-banner__content--ended">
      <div class="call-banner__info">
        <%= image_tag "headphones.svg", size: 18, aria: { hidden: "true" }, class: "call-banner__icon" %>
        <span class="call-banner__label">A mingle has ended</span>
        <span class="call-banner__time"><%= local_datetime_tag call.ended_at, style: :time %></span>
      </div>
    </div>
  <% end %>
</div>
