<%= button_to rooms_directs_path(user_ids: [ user.id ]), class: "direct borderless fill-transparent unpad" do %>
  <span class="avatar avatar--<%= user.availability %>" data-user-id="<%= user.id %>">
    <%= image_tag fresh_user_avatar_path(user), size: 20, aria: { hidden: "true" } %>
  </span>

  <span class="direct__author">
    <span class="for-screen-reader">Start a ping with</span>
    <%= user.name.split(' ')[0] %>
  </span>
<% end %>
