<% content_for :nav do %>
  <div class="nav__channel-info">
    <% unless room.direct? %>
      <span class="nav__hash">#</span>
    <% end %>
    <h1 class="nav__channel-name">
      <% if room.direct? %>
        <span class="for-screen-reader">Ping with</span>
      <% end %>
      <%= room_display_name(room) %>
    </h1>
  </div>

  <div class="nav__spacer"></div>

  <div class="nav__tools">
    <%= link_to_edit_room(room) do %>
      <%= image_tag "menu-dots-horizontal.svg", size: 20, aria: { hidden: "true" } %>
      <span class="for-screen-reader">Settings for this <%= room.direct? ? "Ping" : "room" %></span>
    <% end %>

    <%= render "calls/headphones_button", room: room %>

    <%= render "rooms/involvements/bell", room: room %>
  </div>
<% end %>
